body {
    margin: 20px;
  }
  
  .flex-container {
    display: flex;
    width: 1000px;
    margin: 20px auto;
  }
  
  .flex-item {
    text-align: center;
    padding: 20px;
    color: black;
  }
  

  .task-1 .flex-item {
    flex-basis: 200px;
  }
  .task-1 .flex-item:nth-child(-n+3) {
    flex-grow: 1;
    background-color: rgb(255, 0, 0);
  }
  .task-1 .flex-item:last-child {
    flex-grow: 2;
    background-color: rgb(247, 132, 132);
  }
  

  .task-2 .flex-item {
    flex-basis: 250px;
    flex-shrink: 1;
    background-color: rgb(255, 0, 0);
  }
  .task-2 .flex-item:last-child {
    flex-shrink: 0;
    background-color: rgb(247, 132, 132);
  }
  
 
  .task-3 .flex-item {
    flex-basis: 250px;
    flex-shrink: 1;
    background-color: rgb(255, 0, 0);
  }
  .task-3 .flex-item:last-child {
    flex-shrink: 2;
    background-color: rgb(247, 132, 132);
  }
  